:root {
  --primary-color: #2196f3;
  --primary-color-light: #6ec6ff;
  --primary-color-dark: #0069c0;
  --secondary-color: #263238;
  --secondary-color-light: #e0e0e0;
  --secondary-color-dark: #000a12; }
